/* GENERAL */
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}



/* MAIN CONTAINER */
#viz {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 0.05fr auto;
	background: #f7f7f7;
}



/* PUBLICATIONS */
#projectsContainer {
	height: 100%;
	padding: 5vh;
	background: #f7f7f7;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5vh;
}

.projectElement {
	margin-bottom: 10px;
}

.projectElement > * {
	display: inline-block;
	margin: 0 0 10px 0;
}

.projectImg {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}


/* HIDDEN ELEMENTS */
.isHidden {
	display: none;
}



/* RESPONSIVE */
/* TABLE AND MOBILE */
@media only screen and (max-width: 1024px) {
	#projectsContainer {
		padding: 3vh;
	}

	.list {
		grid-template-columns: 1fr;
		grid-gap: 5vh;
	}

	.projectElement {
		width: 100%;
	}
}



/* FONTS */
@font-face {
	font-family: "Libre Franklin";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Libre Franklin";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Libre Franklin";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Libre Franklin";
	font-weight: 700;
	font-style: italic;
}



/* TEXT ELEMENTS"*/
h1, h2, h3, h4, button, a, p, span {
	font-family: "Libre Franklin";
}


a:link {
	transition: color .2s linear;
	color: #51C2C8;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.projectWebsiteLink {
	background-image: url(../resources/icons/external.svg);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 1em;
}